@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root {
  --cl-yellow: #ff0;
  --cl-black: #111;
  --cl-black-light: #333;
  --cl-gray: #bdbdbd;
  --cl-gray-dark: #777;
  --cl-white: #fff;
  --cl-gold: #ffd700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/* Set background and text color */
body {
background-color: transparent; /* Set the background to transparent */
  color: var(--cl-gold);
}

/* --header */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header .header_banner {
  position: relative;
  height: 100vh;
}

.header .header_banner:last-child {
  background-color: transparent; /* Set the background color to transparent */
}

/* --header --header_intro */
.header .header_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
}

/* --header --header_intro --header_navbar*/
.header_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  color: var(--cl-gold);
  align-items: center;
}
.header_navbar .logo_name {
  position: relative;
  font-size: 1.5em;
  color: var(--cl-gold);
  font-weight: 700px;
  text-decoration: none;
}
.header_navbar .header_navbar-menu {
  display: flex;
  list-style: none;
}
.header_navbar-menu .menu_item {
  margin-left: 30px;
}
.header_navbar-menu .menu_item a {
  text-decoration: none;
  font-weight: 500;
  color: var(--cl-gold);
  letter-spacing: 1px;
}
.header_navbar-menu .menu_item a:hover {
  color: var(--cl-gold);
}
/* --header --header_intro --header_content */
.header_content h2 {
  font-size: 4em;
  color: var(--cl-gold);
  padding-top: 40px; /* Add some padding at the top of the header content */
letter-spacing: 1px;
font-weight: bold; /* Add the bold font weight */
text-align: center; /* Center the text horizontally */
}

/* Style the main text */
.header_content h3 {
  color: var(--cl-gold);
padding-top: 40px; /* Add some padding at the top of the header content */
letter-spacing: 1px;
font-weight: bold; /* Add the bold font weight */
text-align: center; /* Center the text horizontally */
}

.header_content p {
  font-size: 1.2em;
  color: var(--cl-gold);
  line-height: 1.8em;
  padding-top: 40px; /* Add some padding at the top of the header content */
font-weight: bold; /* Add the bold font weight */
text-align: center; /* Center the text horizontally */
}

/* Add a new line after a period in the main text */
.header_content h2::after,
.header_content h3::after,
.header_content p::after {
  content: ".\A"; /* Add a new line after the period */
  white-space: pre; /* Preserve the line breaks */
}


.btn-readMore {
  display: inline-flex; /* Use inline-flex to make the button a flex container */
  font-size: 1.3em;
  margin-top: 20px;
  color: var(--cl-gold);
  text-decoration: none;
  font-weight: 500;
  border: 2px solid var(--cl-gold);
  padding: 10px 30px;
  letter-spacing: 1px;
  transition: 0.5s;
  box-shadow: 0 0 4px 5px var(--cl-gold); /* Add the gold shadow */
  border-radius: 50px; /* Adjust the value to round the button corners */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}


.btn-readMore:hover {
  background-color: var(--cl-gold);
  color: var(--cl-white);
  letter-spacing: 2px;
}

/* --header --header_intro --header-socialIcon */
.header_socialIcons {
  position: absolute;
  margin-top: 20px;
  bottom: 20px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_socialIcons h3 {
  font-weight: 500;
  color: var(--cl-gold);
  letter-spacing: 1px;
}
.header_socialIcons li.social-icon {
  margin-left: 20px;
}
.header_socialIcons .social-icon img {
  max-width: 60px;
  max-height: 60px;
}

/* --header --header_library */
.header_library {
  display: flex;
  flex-wrap: wrap;
}


/* Style the image container */
.header_library .library-box {
  position: relative;
  width: 140px; /* Reduce the width by 30% */
  height: 140px; /* Reduce the height by 30% */
  margin: 30px; /* Adjust the margin as needed for spacing between images */
  background-color: transparent; /* Set the background color to transparent */
}


.header_library .library-box:nth-child(3) {
  width: 100%;
}

.header_library .library-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  object-fit: cover;
  box-shadow: 0 0 10px 5px var(--cl-gold); /* Add the gold shadow */
border-radius: 15px; /* Adjust the value to round the button corners */
}

/* Style the logo icon */
.logo_icon img {
  width: 90px;
  height: 90px;
}



/* Style the images to fit inside the container */
.header_library .library-box .image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make the image fit inside the container without distortion */
}


/* Center the logo and navbar text */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px; /* Adjust the margin as needed for spacing between logo and navbar text */
}


/* Style the header background */
.header_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/stars_background.png'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Set a negative z-index to make sure the background stays behind the header content */
  background-color: transparent; /* Set the background color to transparent */
    animation: zoomInOut 20s infinite alternate; /* Add the zoom animation */
}




.space-div {
  height: 20px; /* Set the space height */
}



/* Scrolling animation */
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px); /* Adjust the value to control the amount of movement */
  }
}


/* ______________responsive______________ */

@media (max-width: 991px) {
  .header {
    grid-template-columns: 1fr;
  }
  .header .header_banner.header_intro {
    padding: 20px 40px;
    height: 60vh;
  }
  .header .header_intro .header_navbar {
    padding: 40px;
  }
  .header .header_banner.header_library {
    height: auto;
  }
}

@media (max-width: 600px) {
  .header_intro .header_content h2 {
    font-size: 3em;
  }
  .header_library .library-box {
    position: relative;
    width: 100%;
    height: 40vh;
  }
}

/* CSS animation for slow movement */
@keyframes slowMovement {
  0% { transform: translateY(10); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(10); }
}


/* Zoom animation */
@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1); /* Normal size at the beginning and end */
  }
  50% {
    transform: scale(1.1); /* Zoomed-in size at the midpoint */
  }
}


.library-box img {
  animation: slowMovement 2s infinite;
}